.header {
    display: flex;
    align-items: center;
    justify-content:center ;
    height: 80px;
    background-color: white;
}

.header__logo {
    font-size: 32px;
    font-weight: bold;
    color: sienna;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
