.thanks__content {
    margin: 0 auto;
    max-width: 1230px;
}

.thanks__heading {
    text-align: center;
    font-size: 24px;
    color: sienna;
    padding: 30px;
}

.thanks__button-submit {
    width: 200px;
    padding: 10px 0;
    margin: 20px auto;
    color: white;
    background-color:#5a4a42;;
    text-align: center;
    display: block;
    cursor: pointer;
}

.background-text {
    position: relative;
}

.background-text::after{
    content: 'Thank you';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color:beige;
    z-index: -1;
    white-space: nowrap;
    transition: none;
}